*{    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    font-size: 1em;    
    box-sizing: border-box;    
    margin: 10px auto;}
body{    
    background-color: rgb(245, 245, 130);         
    display:block;    
    position: relative;
}
#mainContent{    
    width: 960px;
    height: 250px;    
    border: 3px #5e5c4a solid;
}
header {
    width: 230px;
	height:230px;
    background-image: url(https://hazelloucalvez.github.io/hcalvez-humcom/site/assets/exercise10/2x2.jpg);
    background-repeat: no-repeat;
    position: relative;
    right: 350px;
    border: 3px #f7ea40 solid;
    border-radius: 50%;
}
ul {
    list-style-type: none;
    margin: 0;
    display: block;
    padding-right: 50px;
}
li{          
    float: right;
    text-decoration: none;    
    color: #424949;        
    width: 150px;    
    background-color:rgb(245, 228, 0);    
    text-align: center;    
    padding: 8px ;    
    border-radius: 8px; 
    border: 3px solid rgb(156, 109, 6);
}
article, footer, .sec{    
    width: 960px;    
    height: fit-content;    
    border: 3px #635854 solid;
}
#sectionContent{    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 25px;
    text-align: center;
    color: rgb(80, 12, 12);
}
.one, .two, .three{  
    width: 900px;    
    height: fit-content;
    text-align: justify; 
    padding: 20px;
}  
.one{
    background-image: url(https://hazelloucalvez.github.io/hcalvez-humcom/site/assets/exercise10/cat.jpg);
    background-position: top left;
    background-size:  1500px;
}
.two{
    background-image: url(https://hazelloucalvez.github.io/hcalvez-humcom/site/assets/exercise10/paramoreband.jpg);
    background-position: center;
    background-size:  700px;
}
.three{
    background-image: url(https://hazelloucalvez.github.io/hcalvez-humcom/site/assets/exercise10/banana.jpg);
    background-position: center;
    background-size:  900px;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    color: maroon;
}
h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: rgb(129, 75, 75);
    font-style: italic;
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Arial, sans-serif;
    font-size: 18px;
    color: rgb(3, 3, 3);
}
