*{
    box-sizing: border-box;
    margin: 10px auto;
    text-align: center;
}
body{       
    display:inline-block;    
    position: relative;
}
#mainContent{    
    width: 760px;
    height: 900px;    
    border: 3pt #000000 solid;
    display:inline-block;    
    position: relative; 
}
#headerContent, .h1, .h2, .f1, .f3, .hr2, .f2, .f4{
    width: 95%;
    height: 10%;
    border: 1.5pt #790812 solid;
}
.nav{
    width: 95%;
    height: 40%;
    border: 1.5pt #4e5058 solid;
}
#leftContent, #rightContent{
    height: 80%; 
    float:left; 
    margin: 2.5%;
    position: relative;    
    border: 2pt #532a0f solid;
}
#leftContent{
    width: 32.5%;
}
#rightContent{
    width: 57.5%;
}
.n1{
    width: 95%;
    height: 72%;
    border: 1.5pt #4e5058 solid;
}
article{
    width: 95%;
    height: 35%;
    border: 1.5pt #4e5058 solid;
}
.p1 {
    width: 95%;
    height: 25%;
    border: 1.5pt #4e5058 solid;
}
.p2, .aside{
    width: 45%;
    height: 65%; 
    float:left; 
    margin: 2.5%;
    position: relative;    
    border: 2pt #532a0f solid;
}