
*{
    box-sizing: border-box;
    margin: 5px 0px;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffff;
}
.col-3{ width:25%;}
.col-4{ width:33.33%;}
body{
    background-color: darkcyan;
    width: 95%;
    margin: auto;
}
header,footer{
    height: 150px;
    background-color: lightgrey;
}

#wrapper{
    box-sizing: border-box;
}
#wrapper>.col{
    height: 300px;
    background-color: steelblue;
    border: 1px solid black;
    display:inline;
    float: left;
    
}

footer{ clear:left;}

@media screen and (max-width:1024px){
    .col-md-4{ width:33.33%;}
    .col-md-12{ width:100%;}
    body{ background-color:darkmagenta;} 
}
@media screen and (max-width:980px){
    .col-sm-6{ width:50%;}
    .col-sm-12{ width:100%;}
    body{ background-color:darkgreen;} 
}
@media screen and (max-width:768px){
    .col-xs-12{ width:100%;}
    body{ background-color:crimson;} 
}
@media screen and (max-width:481px){
    body{ background-color:lightcoral;} 
}
